* {
  font-family: 'M PLUS Code Latin', Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}

.tv-content {
  width: 200px;
  /* Adjust based on TV screen size */
  height: 150px;
  overflow: auto;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  /* Slight transparency for TV effect */
  padding: 10px;
  font-family: Arial, sans-serif;
  border-radius: 5px;
}

.tv-content a {
  color: cyan;
  text-decoration: none;
}

.tv-content a:hover {
  text-decoration: underline;
}

.resume-content {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: white;
  /* Adjust for theme */

}


.section-row {
  display: flex;
  justify-content: space-between;
  /* Aligns the columns horizontally */
  gap: 10px;
  /* Spacing between columns */
}

.section-column {
  flex: 1;
  /* Each column will take equal space */
  padding: 10px;
}

/* Ensures that the columns are aligned vertically at the top */
h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
  /* Space between each paragraph */
  line-height: 1.6;
  /* Adds space between lines in the paragraph */
}

a {
  background-color: rgb(0, 0, 0);
}

/* Horizontal line for section separation */
.widthLine {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resume-content {
  margin: 20px;
}

/* Additional Styling */
h1 {
  margin-bottom: 10px;
  font-size: 2rem;
}


h3 {
  font-size: 15px;
  text-decoration: underline;
  margin-bottom: -970px;
  text-indent: 9%;
}

h4 {
  font-size: 13px;
  /* text-decoration: underline; Underline section titles */
  margin: -970px 0;
  text-align: center;

}


.topNav {
  padding: 16px;
  position: relative;
  background-color: rgb(0, 0, 0);

}

.bottomNav,
.topNav {
  z-index: 100000;
  font-size: 17px;
}

.bottomNav {
  margin: 16px
}

.widthLine {
  width: 100%;
  height: 1px;
  background-color: #fff;
  z-index: 100000
}

.planecard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 800px) {
  .planecard {
    flex-direction: column;
    align-items: center;
  }

  .planecard > .card {
    margin: 10px 0;
  }
}

/* For mobile view */
.mobile-view {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 20px;
  font-size: 16px;
}

/* For desktop view */
.desktop-view {
  background-color: rgb(0, 0, 0);
  color: black;
  padding: 40px;
  font-size: 18px;
}