* {
  font-family: 'M PLUS Code Latin', Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}

.tv-content {
  width: 200px;
  height: 150px;
  overflow: auto;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-family: Arial, sans-serif;
  border-radius: 5px;
}

.tv-content a {
  color: cyan;
  text-decoration: none;
}

.tv-content a:hover {
  text-decoration: underline;
}

.resume-content {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: white;
}


.section-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.section-column {
  flex: 1;
  padding: 10px;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
  line-height: 1.6;
}

a {
  background-color: rgb(0, 0, 0);
}

.widthLine {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resume-content {
  margin: 20px;
}

h1 {
  margin-bottom: 10px;
  font-size: 2rem;
}


h3 {
  font-size: 15px;
  text-decoration: underline;
  margin-bottom: -970px;
  text-indent: 9%;
}

h4 {
  font-size: 13px;
  /* text-decoration: underline; Underline section titles */
  margin: -970px 0;
  text-align: center;

}


.topNav {
  padding: 16px;
  position: relative;
  background-color: rgb(0, 0, 0);

}

.bottomNav,
.topNav {
  z-index: 100000;
  font-size: 17px;
}

.bottomNav {
  margin: 16px
}

.widthLine {
  width: 100%;
  height: 1px;
  background-color: #fff;
  z-index: 100000
}

.planecard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 800px) {
  .planecard {
    flex-direction: column;
    align-items: center;
  }

  .planecard>.card {
    margin: 10px 0;
  }
}



#hover-tooltip {
  position: absolute;
  block-size: 1.5em;
  display: none;
  width: auto;
  background-color: rgba(78, 78, 78, 0.8);
  color: white;
  font-size: 20px;
  padding: 3px 6px;
  border-radius: 3px;
  pointer-events: none;
  z-index: 10;

}

#phone-tooltip {
  position: absolute;
  block-size: 1.5em;
  display: none !important;
  width: auto;
  background-color: rgba(78, 78, 78, 0.8);
  color: white;
  font-size: 20px;
  padding: 3px 6px;
  border-radius: 3px;
  pointer-events: all;
  z-index: 9999;

}